
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Less 10Mb</th>
            <th>10Mb - 50Mb</th>
            <th>More 100Mb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{DirInfo.Sizes.LessTen}}</td>
            <td>{{DirInfo.Sizes.BetweenTenFifty}}</td>
            <td>{{DirInfo.Sizes.MoreThanHundred}}</td>
        </tr>
    </tbody>
</table>
